# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# OS-specific files
.DS_Store
Thumbs.db

# Virtual environments
.venv/
env/
venv/
ENV/

# Large copyrighted source material (Keep this local)
Rulebook_20.pdf
